[Unit]
Description=Add Exelentos Repository Key
After=network.target

[Service]
Type=oneshot
ExecStart=sh -c "/usr/bin/pacman-key --init ; /usr/bin/pacman-key --add /usr/share/exelent.gpg"
ExecStartPost=/usr/bin/pacman-key --lsign-key AF9C6FE4FEFB98349614C054FEB6CA0157FE8A75
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

